/* CUSTOM STYLES */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');
@font-face {
  font-family: 'AmpleSoft-Medium';
  src: url('../fonts/AmpleSoft-Medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AmpleSoft-Medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AmpleSoft-Medium-webfont.svg') format('svg'); /* Legacy iOS */
}

a{transition:.6s;}
a:hover, a:focus, a:active {text-decoration:none;outline:none;transition:.6s;opacity:.6;}

.padding-0 {padding:0;}
.padding-10-left {padding-left:10px}
.padding-10-right {padding-right:10px}
.margin-top-auto {margin-top:auto;}
.mg-b-15 {margin-bottom:15px;}


.background-header {background-color:#3A60A6;min-height: 80px;border-radius:0px 0px 25px 25px;}
.logo-header {max-width:205px;}

.background-form {background:url('../images/background_form.png');min-height: 535px;background-size: cover;margin: 15px 0 0;background-repeat: no-repeat;border-radius:30px;}
.background-form p, .background-form h3, .background-form h2 {color:#005AC4;font-family: 'AmpleSoft-Medium';}
.background-form p {font-weight: 500;font-size: 1.2rem;line-height: 21px;margin-bottom: 15px;}
.background-form h3 {font-size: 3.5rem;line-height: 52px;margin-bottom: 35px;}
.background-form h2 {margin-bottom: auto;font-size: 1.9rem;line-height: 31px;text-align: right;color: #fff;margin-right: 16px;}
.background-form .logo-banco {max-width: 190px;}

.contact-form input, .contact-form textarea {width: 100%;margin: 3px 0;border-radius: 5px;border: none;padding: 7px 20px;}
.contact-form textarea {min-height:75px;}

.background-banner {background:url(../images/background_banner.png);min-height: 177px;background-size: cover;background-repeat: no-repeat;margin: 5px 0 9px;background-position: center;border-radius:30px;}
.background-banner h3, .background-banner p {color:#fff;font-family: 'AmpleSoft-Medium';margin:0;}
.background-banner h3 {font-size: 2.4rem;line-height: 35px;}
.background-banner p {font-size: 1.6rem;}


.entrega {font-family: 'AmpleSoft-Medium';padding:60px 0;}
.entrega h5 {font-size: 2rem;margin: 0;line-height: 25px;color:#315EA7;}
.entrega h3 {font-size: 4.2rem;margin: 0;line-height: 60px;color:#315EA7;}
.entrega h2 {font-size: 4.3rem;margin: 0;color:#DE9B28;}
.hr-vertical {border:none;border-left:1px solid #315EA7;height: 81px;width: 1px;margin: 0 25px;}

.background-box {background: #ecedef;padding: 20px 40px;height: 100%;border-radius: 30px;margin-bottom: 15px;}
.content-logo img {max-width: 120px;}
.content-logo {margin-bottom: 35px;margin-top: auto;}
.content-logo, .content-info {width:100%;}
.content-info {font-family: 'Raleway', sans-serif;}
.content-info h3 {font-size: 0.8rem;font-weight: 600;margin: 0 0 5px;}
.content-info p {font-size: 0.8rem;margin: 0;}
.content-link {width: 100%;margin: auto 0 0;}
.content-link a {font-weight: bold;font-size:1rem;}

.background-map {background-color:#315EA7;font-family: 'Raleway', sans-serif;padding:60px 25px 20px;margin: 100px 0 0;}
.background-map h3 {color: #fff;margin: 0;font-size: 2.2rem;font-weight: 100;line-height: normal;margin-right: 20px;}
.background-map p {color: #fff;margin: 0;font-weight: bold;line-height: normal;font-size: 0.8rem;margin: 0 30px;}

.map-iframe {margin-top: 30px;position: relative;height: 100%;width: 100%;display: inline-block;min-height: 700px;}
.map-iframe iframe {width:100%;min-height: 700px;}
.iframe {position: absolute;top: 0px;left: 0;width: 100%;min-height: 100%;border-radius: 30px;overflow: hidden;height: 100%;}

.box-01 {background:url(../images/box_01.png);background-size: cover;height: 0;padding-bottom: 53%;width: 100%;border-radius: 30px;background-position: center;}
.box-02 {background:url(../images/box_02.png);background-size: cover;height: 0;padding-bottom: 53%;width: 100%;border-radius: 30px;background-position: center;}
.box-03 {background:url(../images/box_03.png);background-size: cover;height: 0;padding-bottom: 53%;width: 100%;border-radius: 30px;background-position: center;}


footer {background:#F0F1F1;padding: 25px 0;}
.background-banner-foot {background: #fff;border-radius: 30px;padding: 15px 30px;}
.background-banner-foot p {font-family: 'Raleway', sans-serif;margin: 0;color: #315EA7;font-size: .7rem;text-align: center;}

.bold {font-weight:bold}
.redes {margin-top: 85px;text-align: center;margin-bottom: 30px;}
.redes .icon {color: #434343;border: 2px #434343 solid;border-radius: 100%;text-align: center;width: 25px;display: inline-flex;height: 25px;justify-content: center;align-items: center;font-size: 0.9rem;margin: 0 1px;padding: 12px;}
.content-img {margin-top:auto;}
.content-img .hr-vertical {height: 20px;margin: auto 15px 0;border-color: #595858;}

.content-info-text-01, .content-info-text-02 {font-family: 'Raleway', sans-serif}
.content-info-text-01 p {font-size: 0.8rem;color: #595858;font-weight: 600;max-width: 130px;margin: 0;line-height: normal;}
.content-info-text-02 p {font-size: 0.66rem;margin: 0;color:#595858;}
.box-info .hr-vertical {margin: 0 10px;border-color: #595858}

.footer-info .row {min-height: 60px;margin: 25px 0;}
.footer-info .custom-margin {margin-top: auto;margin-bottom: 5px;}
.footer-info .hr-left {margin-left:auto;height: 30px;border-color: #595858;}
.footer-info .hr-right {margin-right:auto;height: 30px;border-color: #595858;}
.footer-info .inspire {max-width: 95px;}

.edisur {top:15px;}
.edisur h3 {font-family: 'AmpleSoft-Medium';font-size: 1rem;margin: 0 0 0;line-height: normal;}
.edisur a {font-family: 'Raleway', sans-serif;font-size: .6rem;line-height: 0;margin: 8px 0 3px;color:#315EA7;}

.edisur  .redes-edisur a {font-size: 0.7rem;margin: 0 3px;color:#315EA7;}

.content-logo .logo-flats {max-width: 60px;}


/* Media Queries */ 

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)
  and (orientation: landscape) {
  	.content-info-text-01 p {max-width:110px;}
  	.box-03 {padding-bottom:60%;}
  	.content-info-text-02 p {font-size:0.5rem;}
  	

}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (orientation: portrait) {
  	.background-form h2 {font-size: 1.2rem;line-height: 20px;}
  	.box-01, .box-02 {padding-bottom:70%}
  	.box-03 {padding-bottom: 80%;}
  	.margin-bottom-sm {margin-bottom:30px;}
  	.custom-responsive-w {max-width:100px;}
  	.background-map p {font-size:0.6rem;}
}


@media only screen 
  and (min-width: 320px) 
  and (max-width: 767px) {
    .entrega h5 {font-size:1.7rem}
    .entrega h3 {font-size:3.8rem}
  	.background-form {padding: 35px 0;background-position: 80%;}
  	.background-form .logo-banco {margin-bottom:30px;}
  	.background-banner {background-position: 79%;padding: 35px 30px;}
  	.background-banner p {font-size: 1.4rem;line-height: 29px;margin-top: 15px;}
  	.entrega {padding: 60px 30px;-ms-flex-direction: column!important;flex-direction: column!important;}
  	.entrega .hr-vertical {display:none;}
  	.entrega h2 {font-size: 2.1rem;margin: 15px 0 0;}
  	.box-02 {margin-top:15px;}
  	.flex-column-reverse-xs {-ms-flex-direction: column-reverse!important;flex-direction: column-reverse!important;}
  	.flex-column-xs {-ms-flex-direction: column!important;flex-direction: column!important;}
  	.background-map h3 {margin:0 0 10px;}
  	.background-map p {margin:5px 30px;}
  	.content-img {margin-bottom:20px;}
  	.content-img .hr-vertical {display:none;}
  	.content-info-text-01, .content-info-text-02 {text-align:center !important;margin: 20px 0 0;}
  	.box-info .hr-vertical {display:none;}
  	.padding-0 {padding:0 15px;}
  	.padding-10-left {padding-left: 15px;}
  	.edisur {top:0;}
  	.footer-info .hr-left, .footer-info .hr-right {display:none;}
  	.custom-responsive-w {margin:15px 0;}
  	.text-center-xs {text-align:center;}
  	.content-info p {font-size: 0.7rem;margin: 0 0 25px;}
  	.content-info-text-02 p {font-size: 0.6rem;}
}